.styled-button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 1,4em; /* Ajusta el tamaño según lo necesites */
  }

#ajusteStyle_Box{
  background-color:black;
  padding:5px;
}

.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 0.5s ease-out 3s forwards;
}

.logo {
  width: 200px;
  height: 200px;
  animation: scaleLogo 2.5s ease-in-out;
}

@keyframes scaleLogo {
  0% {
      transform: scale(0);
      opacity: 0;
  }
  50% {
      transform: scale(1.2);
      opacity: 1;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
      visibility: hidden;
  }
}